<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		
		<typeAlias type = "com.kh.filoom.member.model.vo.Member" alias="member"/>
		<typeAlias type = "com.kh.filoom.book.model.vo.Booking" alias="booking"/>
		<typeAlias type = "com.kh.filoom.book.model.vo.BookingSeat" alias="bookingseat"/>
		<typeAlias type = "com.kh.filoom.book.model.vo.Playing" alias="playing"/>
		<typeAlias type = "com.kh.filoom.book.model.vo.Screen" alias="screen"/>
		<typeAlias type = "com.kh.filoom.book.model.vo.ScreenSeat" alias="screenseat"/>
		<typeAlias type = "com.kh.filoom.book.model.vo.Seat" alias="seat"/>
		
		<typeAlias type = "com.kh.filoom.movie.model.vo.Movie" alias="movie"/>
		<typeAlias type = "com.kh.filoom.movie.model.vo.Poster" alias="poster"/>
		
		
		<typeAlias type = "com.kh.filoom.event.model.vo.Event" alias="event" />
		<typeAlias type = "com.kh.filoom.event.model.vo.EventAttachment" alias="eventAttachment" />
		<typeAlias type = "com.kh.filoom.event.model.vo.Reply" alias="reply" />
		
		
	</typeAliases>
	
	<mappers>
	
		<mapper resource = "/mappers/member-mapper.xml"/>
		<mapper resource = "/mappers/movie-mapper.xml"/>
		<mapper resource = "/mappers/book-mapper.xml"/>
		<mapper resource = "/mappers/event-mapper.xml"/>
	
	</mappers>
	
</configuration>